
<body class="is-preload">

  <!-- Header -->
    <header id="header">
      <div class="inner">
        <a href="#" class="image avatar"><img src="images/avatar.jpg" alt="" /></a>
        <h1><strong>Franco Bonaviri</strong>, full stack developer.
        <br>
        Desarrollador web y mobile apps</h1>
      </div>
    </header>

  <!-- Main -->
    <div id="main">

      <!-- One -->
        <section id="one">
          <header class="major">
            <h2>Algo sobre mí</h2>
          </header>
          <p>Soy flexible, confiable y poseo excelentes habilidades para controlar el tiempo.
             Soy una persona entusiasta, automotivada, responsable, un poco freaky y trabajadora.
             Tengo experiencia manejando frameworks frontend como ReactJs y Angular, y también creando servidores backend con NodeJs y .NET. <br>
             Tengo una capacidad de liderazgo nata la cual siempre me lleva a intentar tomar las riendas de los proyectos a realizar y, en la medida de lo posible,  ser el responsable del mismo.

              Sé que soy joven pero tengo bien claro mi futuro, y que siempre debo dar lo mejor de mi para aprender y ser mejor. <br>
            </p>
          <ul class="actions">
            <li><a href="../../../assets/FrancoBonaviri.pdf" target="_blank" class="button">Descargar CV</a></li>
          </ul>
        </section>

      <!-- Two -->
        <section id="two">
          <h2>Algunos de mis trabajos</h2>
          <div class="row">
            <article class="col-6 col-12-xsmall work-item">
              <a (click)="openModal(1)" style="cursor:pointer;" class="image fit thumb"><img src="../../../assets/images/thumbs/01.png" alt="" /></a>
              <h3>Lector de códigos QR</h3>
              <p>Una simple aplicación lectora de códigos qr. Cuenta con un mapa y la posibilidad de guardar un backup de tus escaneos</p>
            </article>
            <article class="col-6 col-12-xsmall work-item">
              <a (click)="openModal(2)" style="cursor:pointer;" class="image fit thumb"><img src="../../../assets/images/thumbs/02.png" alt="" /></a>
              <h3>Aplicación de películas</h3>
              <p>Una pequeña cartelera virtual en la que puedes ver el detalle de todas las películas que imagines</p>
            </article>
            <article class="col-6 col-12-xsmall work-item">
              <a (click)="openModal(3)" style="cursor:pointer;" class="image fit thumb"><img src="../../../assets/images/thumbs/03.png" alt="" /></a>
              <h3>Aplicación de noticias</h3>
              <p>Un gran variedad de noticias en un mismo lugar. También puedes compartirla con redes sociales y destacarlas para leerlas luego</p>
            </article>
            <article class="col-6 col-12-xsmall work-item">
              <a (click)="openModal(4)" style="cursor:pointer;" class="image fit thumb"><img src="../../../assets/images/thumbs/04.png" alt="" /></a>
              <h3>Web de notas</h3>
              <p>Una pequeña aplicación web en la que puedes dar de alta usuarios y crear notas con la firma de los mismos</p>
            </article>
            <article class="col-6 col-12-xsmall work-item">
              <a (click)="openModal(5)" style="cursor:pointer;" class="image fit thumb"><img src="../../../assets/images/thumbs/05.png" alt="" /></a>
              <h3>ATLAS</h3>
              <p>Un pequeño proyecto freaky inspirado en google drive. En el podrás ver tus archivos, agregar carpetas, eliminarlas, etc.</p>
            </article>
            <article class="col-6 col-12-xsmall work-item">
              <a (click)="openModal(6)" style="cursor:pointer;" class="image fit thumb"><img src="../../../assets/images/thumbs/06.png" alt="" /></a>
              <h3>Journal app</h3>
              <p>Un diario web en el que puedes guardar todas tus ideas y notas. Cuanta con autenticación simple y mediante google</p>
            </article>
          </div>
          <ul class="actions" *ngIf="!showMore">
            <li><a class="button" (click)="showMore = true">Ver mas</a></li>
          </ul>



          <div class="table-responsive" *ngIf="showMore">
            <table class="table">
                <tbody>
                    <tr>
                        <td>Web de turnos y Pagos en linea</td>
                        <td><a href="https://corrientes.sigein.net/">https://corrientes.sigein.net/</a></td>
                    </tr>
                    <tr>
                      <td>Sistema de Juzgamiento utilizado por jueces</td>
                      <td><a href="https://juzgados2.sigein.net/">https://juzgados2.sigein.net/</a></td>
                    </tr>
                    <tr>
                      <td>Sistema de procesamiento de actas de tránsito</td>
                      <td><a href="http://boj2.sigein.net/">http://boj2.sigein.net/</a></td>
                    </tr>
                    <tr>
                      <td>Administrador de turnos</td>
                      <td><a href="https://dotech.com.ar/productos/administrador-turnos/index.html">https://dotech.com.ar/productos/administrador-turnos/index.html</a></td>
                    </tr>
                </tbody>
            </table>
        </div>



        </section>

        <section id="three">
          <h2>Certificaciones</h2>
          <div class="row">
            <article class="col-6 col-12-xsmall work-item">
              <ul>
                <li>
                  <h3>Diplomatura en programacion .NET</h3>
                  <a target="_blank" href="../../../assets/cert_aprob_21816_718_2_2020-09-14-08-41-31.pdf">Ver diploma</a>
                </li>
              </ul>
            </article>
          </div>
        </section>







      <!-- Three -->
        <section id="three">
          <h2>Contacto</h2>
          <p>Si quieres realizar un trabajo conmigo, contratarme, o simplemente conocerme, completa este formulario y me pondre en contacto contigo</p>
          <div class="row">
            <div class="col-8 col-12-small">
              <form method="post" action="#">
                <div class="row gtr-uniform gtr-50">
                  <div class="col-6 col-12-xsmall"><input [(ngModel)]="name" type="text" name="name" id="name" placeholder="Name" /></div>
                  <div class="col-6 col-12-xsmall"><input [(ngModel)]="email" type="email" name="email" id="email" placeholder="Email" /></div>
                  <div class="col-12"><textarea [(ngModel)]="message" name="message" id="message" placeholder="Message" rows="4"></textarea></div>
                </div>
              </form>
              <ul class="actions">
                <li><input type="submit" value="Enviar" (click)="handleClick()"/></li>
              </ul>
            </div>
            <div class="col-4 col-12-small">
              <ul class="labeled-icons">
                <li>
                  <h3 class="icon solid fa-home"><span class="label">Address</span></h3>
                  4632 Calle 14<br />
                  Berisso, 1923<br />
                  Buenos Aires, Argentina.
                </li>
                <li>
                  <h3 class="icon solid fa-mobile-alt"><span class="label">Phone</span></h3>
                  +54-221-6719723
                </li>
                <li>
                  <h3 class="icon solid fa-envelope"><span class="label">Email</span></h3>
                  <a href="mailto:francobonaviri@hotmail.com" >francobonaviri@hotmail.com</a>
                </li>
              </ul>
            </div>
          </div>
        </section>



      </div>

    <!-- Footer -->
    <footer id="footer">
      <div class="inner" >
        <ul class="icons" >
          <li><a href="https://www.linkedin.com/in/franco-bonaviri-7554511ba/" class="icon brands fa-linkedin"><span class="label">Linkedin</span></a></li>
          <li><a href="https://github.com/FrancoBonaviri" class="icon brands fa-github"><span class="label">Github</span></a></li>
          <li><a href="https://t.me/FrancoBonaviri" class="icon brands fa-telegram"><span class="label">Telegram</span></a></li>
          <li><a href="mailto:francobonaviri@hotmail.com" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
        </ul>
      </div>
    </footer>










    <!-- Scripts -->
    <!-- <script src="../../../assets/js/jquery.min.js"></script>
    <script src="../../../assets/js/jquery.poptrox.min.js"></script>
    <script src="../../../assets/js/browser.min.js"></script>
    <script src="../../../assets/js/breakpoints.min.js"></script>
    <script src="../../../assets/js/util.js"></script>
    <script src="../../../assets/js/main.js"></script> -->

</body>
